[submodule "third_party/ggml"]
	path = third_party/ggml
	url = https://github.com/ggml-org/ggml
[submodule "third_party/ced.cpp"]
	path = third_party/ced.cpp
	url = https://github.com/localai-org/ced.cpp
[submodule "third_party/voice-detect.cpp"]
	path = third_party/voice-detect.cpp
	url = https://github.com/mudler/voice-detect.cpp
